# 应用配置
APP_LOCALE=zh-CN
APP_DEBUG=true

# 服务器配置
SUB_STORE_BACKEND_API_HOST=0.0.0.0
SUB_STORE_BACKEND_API_PORT=3000

# 前端配置(可选)
# SUB_STORE_FRONTEND_PATH=/var/www/sub-store/frontend
# SUB_STORE_FRONTEND_PORT=3001

# 定时任务
# SUB_STORE_BACKEND_SYNC_CRON=0 */2 * * *
# SUB_STORE_PRODUCE_CRON=0 */3 * * *,sub,a

# Gist 备份
# GITHUB_TOKEN=your_token
# GIST_ID=your_gist_id

# 数据库
DB_PATH=./storage/database.sqlite

# MMDB
# SUB_STORE_MMDB_COUNTRY_PATH=./storage/Country.mmdb
# SUB_STORE_MMDB_ASN_PATH=./storage/ASN.mmdb
# SUB_STORE_MMDB_CRON=0 0 * * 0
